<div class="card w-auto mt-2 mb-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item flex-column ">
            <div class=" align-items-start justify-content-between d-flex w-100">
                <h5 style="margin-bottom:0">
                    {{module.code}}
                </h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="removeFromCalendar(module)">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        </li>
    </ul>
</div>